<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.zhangziyu.healthmonitorwithbluetooth">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".View.Application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.RegisterActivity" />
        <activity android:name=".View.Activity.HomeActivity" />
        <activity android:name=".View.Activity.MonitorActivity" />
        <activity android:name=".View.Activity.HistoryActivity" />
        <activity android:name=".View.Activity.SetActivity" />
        <activity android:name=".View.Activity.DataAcceptanceActivity" />

        <service
            android:name=".ViewModel.DataReceive.DataReceiveService"
            android:exported="false" />

        <activity android:name=".View.Activity.HistoryDetailActivity"></activity>
    </application>

</manifest>